<!-- start: MAIN NAVIGATION MENU -->
<hr class="hr-solid" />
<div class="navbar-title">
    <span>Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-dash"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.contacts">
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-contacts"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Contacts </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-loanTools"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Loan Tools </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-insuranceTools"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Insurance Tools </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-workflow"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Workflow </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-communicate"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Communicate </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-report"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Report </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-commission"></i>
                </div>
                <div class="item-inner"> 
                    <span class="title"> Commission </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-resources"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Resources </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-referral"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Referral </span> <i class="fa fa-angle-right right-arrow"></i>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: FEATURES -->
<hr class="hr-solid" />
<div class="navbar-title">
    <span >Users</span>
</div>
<ul class="folders">
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-feedback"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Feedback </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-users"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Users </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="crm-icon crm-icon-customise new-feature"></i>
                </div>
                <div class="item-inner">
                    <span class="title new-feature"> Customise Theme </span>
                    <i class="crm-icon crm-icon-new-feature"></i>
                </div>
            </div>
        </a>
    </li>
</ul>
<hr class="hr-solid" />
<!-- end: FEATURES -->