<header class="navbar navbar-default navbar-static-top hidden-print">
    <div class="navbar-header">
        <button href="javascript:void(0)" class="menu-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="horizontal-menu-toggler" ng-click="menuToggle()" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <button href="javascript:void(0)" class="sidebar-mobile-toggler btn no-radius pull-left hidden-md hidden-lg" id="sidebar-toggler" ng-click="toggle('sidebar')" v-pressable>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand col-md-12 text-center" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" class="navbar-brand-image" /> </a>
        <a class="navbar-brand navbar-brand-collapsed" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logoCollapsed}}" alt=""  class="navbar-brand-image-small" /> </a>
        <div class="pull-right visible-xs mg-right-5">
            <ul class="nav">
                <li class="inline-block">
                    <button href="javascript:void(0)" class="user-control-button thin no-margin-sides no-padding-sides" v-pressable>
                        <i class="crm-icon-recentlyViewed crm-top-nav-icon"></i>
                    </button>
                </li>
                <li class="inline-block">
                    <button href="javascript:void(0)" class="user-control-button thin no-margin-sides no-padding-sides" v-pressable>
                        <i class="crm-icon-launch crm-top-nav-icon"></i>
                    </button>
                </li>
                <li class="inline-block">
                    <button href="javascript:void(0)" class="user-control-button thin no-margin-sides no-padding-sides" v-pressable>
                        <i class="crm-icon-notification crm-top-nav-icon"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="'#menu-toggler'">
        <ul class="nav navbar-left hidden-sm hidden-xs">
            <li class="sidebar-toggler-wrapper">
                <div>
                    <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed" v-pressable>
                        <i class="fa fa-bars font-size-20"></i>
                    </button>
                </div>
            </li>
            <li>
                <a ng-click="goFullscreen()"> <i class="fa fa-expand" ng-show="!isFullscreen"></i> <i class="fa fa-compress" ng-show="isFullscreen"></i></a>
            </li>
            <li>
                <form role="search" class="navbar-form main-search">
                    <div class="form-group">
                        <input type="text" placeholder="{{ 'search.PLACEHOLDER' | translate }}" class="form-control mg-top-15">
                        <button class="btn search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            <li>
                <button href="javascript:void(0)" class="top-nav-button recentlyViewed" v-pressable>
                    <i class="crm-icon-recentlyViewed crm-top-nav-icon"></i>
                </button>
            </li>
            <li>
                <button href="javascript:void(0)" class="top-nav-button launch" v-pressable>
                    <i class="crm-icon-launch crm-top-nav-icon"></i>
                </button>
            </li>
        </ul>
        <ul class="nav navbar-right user-controls visible-md visible-lg" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
            <li class="user-control">
                <div class="user-menu">
                    <span>Welcome Back, <a>James Punnet</a> <i class="fa fa-caret-down mg-left-5 font-size-10"></i></span>
                </div>
            </li>
            <li class="user-control mg-left-5">
                <button href="javascript:void(0)" class="user-control-button" v-pressable>
                    <i class="crm-icon-settings crm-top-nav-icon top-nav-button-icon"></i>
                </button>
            </li>
            <li class="user-control">
                <button href="javascript:void(0)" class="user-control-button" v-pressable>
                    <i class="crm-icon-tags crm-top-nav-icon top-nav-button-icon"></i>
                </button>
            </li>
            <li class="user-control">
                <button href="javascript:void(0)" class="user-control-button" v-pressable>
                    <i class="crm-icon-power crm-top-nav-icon top-nav-button-icon"></i>
                </button>
            </li>
            <li class="user-control">
                <button href="javascript:void(0)" class="user-control-button" v-pressable>
                    <i class="crm-icon-notification crm-top-nav-icon top-nav-button-icon"></i>
                </button>
            </li>
        </ul>
        <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true" ng-swipe-up="navbarCollapsed = true">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
        </div>
    </div>
</header>