﻿/*Sidebar nagivation icons*/
.crm-icon{
    padding: 7px;
}

.crm-icon-small{
    padding: 5px;
}

.crm-icon-md{
    padding:10px;
}

.crm-icon-dash{
    background:url('/app/assets/icons/dashboard.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-contacts{
    background:url('/app/assets/icons/contacts.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-loanTools{
    background:url('/app/assets/icons/loantools.svg') no-repeat left center;
    background-size:contain;

}

.crm-icon-insuranceTools{
    background:url('/app/assets/icons/insurancetools.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-workflow{
    background:url('/app/assets/icons/workflow.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-communicate{
    background:url('/app/assets/icons/communicate.svg') no-repeat left center;
    background-size:contain;
}
.crm-icon-report{
    background:url('/app/assets/icons/report.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-commission{
    background:url('/app/assets/icons/commission.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-resources{
    background:url('/app/assets/icons/resources.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-referral{
    background:url('/app/assets/icons/referrals.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-feedback{
    background:url('/app/assets/icons/feedback.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-users{
    background:url('/app/assets/icons/users.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-customise{
    background:url('/app/assets/icons/customise.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-customise.new-feature{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='54' height='55' viewBox='0 0 54 55'><defs><style>.cls-1 { fill: %233DBDC8; fill-rule: evenodd; }</style></defs><path id='customise' class='cls-1' d='M1365.01 261.023c10.32.871 6.62-10.292 16.17-10.4l4.13 3.514c1.03 12.691-14.2 15.52-20.3 6.886zm31.63-16.3c3.21-5.129 13.16-22.332 13.16-22.332a1.466 1.466 0 0 0-2.2-1.863s-14.78 13.089-19.14 17.238c-3.45 3.28-3.46 4.778-4.58 10.187l3.78 3.207c5.01-2.094 6.45-2.378 8.98-6.435zm-26.98 8.879c1.49-2.6 3.93-6.82 10-7.473.97-4.78 1.36-7.559 5.73-11.71 3.09-2.936 11.1-10.1 15.79-14.269-2.25-5.057-9.31-9.215-18.4-9.14a27.256 27.256 0 0 0-26.77 27.7 27.682 27.682 0 0 0 6.34 17.489c3.64.985 5.35.801 7.31-2.599zm15.63-36.274a4.581 4.581 0 1 1-4.46 4.616 4.56 4.56 0 0 1 4.46-4.614zm-13.49 4.584a4.581 4.581 0 1 1-4.46 4.607 4.526 4.526 0 0 1 4.46-4.605zm-4.5 13.74a4.582 4.582 0 1 1-4.46 4.615 4.532 4.532 0 0 1 4.46-4.613zm22.56 19.544a15.014 15.014 0 0 1-3.78 10.507l-.11.1c11.82-1.354 20.39-9.859 14.1-18.071-3.09 4.692-5.7 5.597-10.21 7.468z' transform='translate(-1356 -211)' x='0' y='0' width='100%' height='100%'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-new-feature{
    margin-left:5px;
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='61.06' height='61' viewBox='0 0 61.06 61'><defs><style>.cls-1 { fill: %233DBDC8; fill-rule: evenodd; }</style></defs><path id='new' class='cls-1' d='M53.51 10.3l-6.25-1.705-3.2-5.542-6.36.9-5.14-3.956-5.6 3.229-6.26-1.695-3.96 5.058-6.38.91-1.65 6.263-5.59 3.229.85 6.436-3.96 5.058 3.19 5.552-1.65 6.263 5.15 3.957.85 6.435 6.25 1.7 3.21 5.532 6.36-.9 5.15 3.956 5.59-3.229 6.25 1.7 3.98-5.068 6.36-.9 1.66-6.273 5.6-3.229-.86-6.436 3.96-5.058-3.2-5.542 1.65-6.263-5.13-3.967zm-27.63 32.118l-2.8 1.619-7.82-4.029 3.69 6.408-3.46 2-8-13.857 2.67-1.539 1.04.556 6.92 3.393-3.7-6.408 3.46-2zm4.39-16.391l-5.19 3 1 1.732 3.46-2 2 3.464-3.46 2 1 1.732 5.19-3 2 3.465-8.66 5-8-13.856 8.66-5zm21.46 1.473l-3.01 1.74-5.96-5.332 1.48 7.921-2.93 1.689-11.35-11.227 2.74-2.969 6.32 6.279-1.14-6.266 3.48-2.01 4.73 4.2-2.19-8.668 3.92-.88z'/></svg>") no-repeat left center;
    background-size:contain;
}

/*Top nav*/

.crm-top-nav-icon{
    padding: 7px;
}
.crm-icon-launch{
    background:url('/app/assets/icons/launch.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-recentlyViewed{
    background:url('/app/assets/icons/recently_viewed.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-settings{
    background:url('/app/assets/icons/settings.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-tags{
    background:url('/app/assets/icons/tag.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-power{
    background:url('/app/assets/icons/Reply.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-notification{
    background:url('/app/assets/icons/notification.svg') no-repeat left center;
    background-size:contain;
}

/*Table controls*/
.crm-icon-edit{
    background:url('/app/assets/icons/edit.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-merge{
    background:url('/app/assets/icons/merge.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-add-sm{
    background:url('/app/assets/icons/add_sm.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-delete{
    background:url('/app/assets/icons/delete.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-edit.dark{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><defs><style>.cls-1 { fill: %239e89aa; fill-rule: evenodd; }</style></defs><path id='edit' class='cls-1' d='M962.5 938h-35a2.5 2.5 0 0 1-2.5-2.5v-35a2.5 2.5 0 0 1 2.5-2.5h25l-5 5h-17.5v30h30v-17.5l5-5v25a2.5 2.5 0 0 1-2.5 2.5zm-27.5-10v-7.5l22.5-22.5h2.5l5 5v2.5l-22.5 22.5h-7.5zm11.25-8.75l13.75-13.75-2.5-2.5-13.75 13.75zm-6.25 1.25l-2.5 2.5v2.5h2.5l2.5-2.5z' transform='translate(-925 -898)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-delete.dark{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><defs><style>.cls-1 { fill: %239e89aa; fill-rule: evenodd; }</style></defs><path id='delete' class='cls-1' d='M1118.5 910.5v25a2.5 2.5 0 0 1-2.5 2.5h-30a2.5 2.5 0 0 1-2.5-2.5v-25h-2.5v-2.5a2.5 2.5 0 0 1 2.5-2.5h10v-5a2.5 2.5 0 0 1 2.5-2.5h10a2.5 2.5 0 0 1 2.5 2.5v5h10a2.5 2.5 0 0 1 2.5 2.5v2.5h-2.5zm-15-7.5h-5v2.5h5v-2.5zm10 7.5h-25v22.5h25v-22.5zm-15 17.5h-5v-12.5h5v12.5zm10 0h-5v-12.5h5v12.5z' transform='translate(-1081 -898)'/></svg>") no-repeat left center;
    background-size:contain;
}

tbody > tr.striped-tr > td.control-col > div.table-control-set > button.btn-table-controls:hover > i.crm-icon.crm-icon-edit{
    background:url('/app/assets/icons/edit.svg') no-repeat left center;
    background-size:contain;
}

tbody > tr.striped-tr > td.control-col > div.table-control-set > button.btn-table-controls:hover > i.crm-icon.crm-icon-delete{
    background:url('/app/assets/icons/delete.svg') no-repeat left center;
    background-size:contain;
}

/*General*/
.crm-icon-search{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='55.502' height='56' viewBox='0 0 55.502 56'><defs><style>.cls-1 { fill: %239e89aa; fill-rule: evenodd; }</style></defs><path id='search' class='cls-1' d='M1000.68 480a16.007 16.007 0 0 1 12.91 25.238l-1.56 2.224-2.21 1.578a15.561 15.561 0 0 1-9.14 2.96 16 16 0 0 1 0-32m0-8a24 24 0 0 0 0 48 23.464 23.464 0 0 0 13.73-4.438l11.16 11.272a3.909 3.909 0 0 0 5.57 0l.06-.058a3.817 3.817 0 0 0 0-5.634l-11.16-11.27a24.017 24.017 0 0 0-19.36-37.872' transform='translate(-976.938 -472)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-dbl-arrow-link{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='28' viewBox='0 0 30 28'><defs><style>.cls-1 { fill: %2357c9ca; fill-rule: evenodd; }</style></defs><path id='dbl_arrow' class='cls-1' d='M3.35 28l14.65-14-14.65-14-3.35 3.158 11.34 10.842-11.34 10.841zm12 0l14.65-14-14.65-14-3.35 3.158 11.34 10.842-11.34 10.841z'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-mail{
    background:url('/app/assets/icons/new_mail.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-email{
    background:url('/app/assets/icons/new_email.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-print{
    background:url('/app/assets/icons/print.svg') no-repeat left center;
    background-size:contain;
}

.crm-icon-notes{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='30' viewBox='0 0 24 30'><defs><style>.cls-1 { fill: %23645b97; fill-rule: evenodd; }</style></defs><path id='notes' class='cls-1' d='M1305 511.2v-16.2h-24v30s2.66-.138 9.92-.138c5.81.031 4.17-10.056 4.17-10.062 3.61.894 9.91.5 9.91-3.6zm-5-8.2h-14v-3h14v3zm0 4h-14v-3h14v3zm0 4h-14v-3h14v3zm-2.31 6.468a10.583 10.583 0 0 0 7.31-1.415c-1.79 2.4-6.28 6.849-8.92 8.257 1.39-1.402 1.88-5.081 1.61-6.842z' transform='translate(-1281 -495)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-list{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30.5' height='28.25' viewBox='0 0 30.5 28.25'><defs><style>.cls-1 { fill: %23645b97; fill-rule: evenodd; }</style></defs><path id='list' class='cls-1' d='M1357 502h19v-5h-19v5zm0 21h19v-5h-19v5zm0-10h19v-5h-19v5zm-7.75-17.118a3.765 3.765 0 1 0 3.75 3.765 3.758 3.758 0 0 0-3.75-3.765zm0 20.706a3.765 3.765 0 1 0 3.75 3.765 3.758 3.758 0 0 0-3.75-3.765zm0-10.353a3.765 3.765 0 1 0 3.75 3.765 3.758 3.758 0 0 0-3.75-3.765z' transform='translate(-1345.5 -495.875)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-tags-alt{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='63.656' height='64' viewBox='0 0 63.656 64'><defs><style>.cls-1 { fill: %23645b97; fill-rule: evenodd; }</style></defs><path id='tag' class='cls-1' d='M207.328 46l23.313 23.52a2.008 2.008 0 0 1 0 2.826l-18.541 18.632a1.982 1.982 0 0 1-2.812 0l-23.362-23.478v-19.5a1.993 1.993 0 0 1 1.988-2h19.414m1.606-8h-26.88a4.094 4.094 0 0 0-4.082 4.106v27.008a4.118 4.118 0 0 0 1.2 2.906l28.635 28.78a4.063 4.063 0 0 0 5.77 0l26.823-26.956a4.124 4.124 0 0 0 0-5.8l-28.58-28.834a4.069 4.069 0 0 0-2.886-1.21m-3.126 22a5.965 5.965 0 1 1-5.965-6 5.982 5.982 0 0 1 5.965 6' transform='translate(-177.969 -38)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-calendar{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'><defs><style>.cls-1 { fill: %23645b97; fill-rule: evenodd; }</style></defs><path id='Calendar' class='cls-1' d='M688 730h42a3 3 0 0 1 3 3v42a3 3 0 0 1-3 3h-42a3 3 0 0 1-3-3v-42a3 3 0 0 1 3-3zm3 0h12v9h-12v-9zm3 0h6v6h-6v-6zm21 0h12v9h-12v-9zm3 0h6v6h-6v-6zm-27 15h36v27h-36v-27zm6 6h6v6h-6v-6zm9 0h6v6h-6v-6zm9 0h6v6h-6v-6zm-18 9h6v6h-6v-6zm9 0h6v6h-6v-6zm9 0h6v6h-6v-6z' transform='translate(-685 -730)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-transactions{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'><defs><style>.cls-1 { fill: %23645b97; fill-rule: evenodd; }</style></defs><path id='transactions' class='cls-1' d='M602 730h15a3 3 0 0 1 3 3v15a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3v-15a3 3 0 0 1 3-3zm27 0h15a3 3 0 0 1 3 3v15a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3v-15a3 3 0 0 1 3-3zm-27 27h15a3 3 0 0 1 3 3v15a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3v-15a3 3 0 0 1 3-3zm27 0h15a3 3 0 0 1 3 3v15a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3v-15a3 3 0 0 1 3-3zm-24-21h9v9h-9v-9zm27 0h9v9h-9v-9zm-27 27h9v9h-9v-9zm27 0h9v9h-9v-9z' transform='translate(-599 -730)'/></svg>") no-repeat left center;
    background-size:contain;
}

.crm-icon-contacts-alt{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='58' height='64' viewBox='0 0 58 64'><defs><style>.cls-1 { fill: %2357c9ca; fill-rule: evenodd; }</style></defs><path id='contacts' class='cls-1' d='M1087 48h-2v-10h-43a7.086 7.086 0 0 0-7 7v11h-2a2.059 2.059 0 0 0-2 2 1.933 1.933 0 0 0 2 2h2v6h-2a2.059 2.059 0 0 0-2 2 1.933 1.933 0 0 0 2 2h2v6h-2a2.059 2.059 0 0 0-2 2 1.933 1.933 0 0 0 2 2h2v6h-2a2.059 2.059 0 0 0-2 2 1.933 1.933 0 0 0 2 2h2v5a6.919 6.919 0 0 0 7 7h47v-52a2.074 2.074 0 0 0-2-2zm-8.04 35a7.183 7.183 0 0 1-6.74 5c-4.5 0-10.02-3.4-14.84-8.4-4.84-4.8-8.38-10.2-8.38-14.8a7.417 7.417 0 0 1 5.02-6.8c1.4-.2 2 1 2.46 1.6.44.6 3 4.6 3.4 5.2a2.348 2.348 0 0 1-.64 3.2c-1.46 1.2-2.88 1.6 2.62 7.2 5.5 5.4 5.94 4 7.12 2.6a2.445 2.445 0 0 1 3.26-.6c.62.4 4.56 3 5.2 3.4a2.351 2.351 0 0 1 1.52 2.4zm2.04-35h-38.98a2.927 2.927 0 0 1-3.02-3 3.066 3.066 0 0 1 3.02-3h38.98v6z' transform='translate(-1031 -38)'/></svg>") no-repeat left center;
    background-size:contain;
}