﻿/*Navigation*/
.hr-solid{
  background-color: #272145;
  background-image:none; 
  box-shadow: 0px -2px #161020;
  margin-top:0px;
}

.navbar-brand-image{
    height:25px;
    margin:auto;
}

.navbar-brand-image-small{
    height:10px;
    margin:auto;
}


.right-arrow{
    position:absolute;
    right:20px;
}

.new-feature{
    color: #3dbdc8;
}

/*Custom elements*/
/*Buttons*/
.btn-tag{
    border: 1px solid #f5f2f9;
    background-color: #f5f2f9 !important;
    color: #9e89aa !important;
    font-weight:bold;
    height:35px;
}

.header-controls .btn-compact{
    height: 25px !important;
    padding-top:3px !important;
    padding-bottom:3px !important;
}

.header-controls > .btn.header-button-purple, div.header-controls > .btn.header-button-purple:active{
    background-color: #645b97 !important; 
    border-color: #645b97 !important;
}

.header-controls > .btn.header-button-purple:hover{
    background-color: #9587e1 !important;
    border-color: #9587e1 !important;
}

.header-controls > .btn.header-button-blue, div.header-controls > .btn.header-button-blue:active{
    background-color: #5a9bd1 !important; 
    border-color: #5a9bd1 !important;
}

.header-controls > .btn.header-button-blue:hover{
    background-color: #67b1ef !important;
    border-color: #67b1ef !important;
}

.btn-group-btn-2{
    border: 1px solid #dedede !important;
    background-color:white;
    width:70px;
}

.btn-group-btn-2:active, .btn-group-btn-2.active, .btn-group-btn-2.active:focus, 
.btn-group-btn-2:active:focus, .btn-group-btn-2:active:hover, 
.btn-group-btn-2.dropdown-toggle:active:hover{
    background-color:#57c9ca;
    border-color:none !important;
    color: #fff;
    border:inherit;

}

.btn-primary{
    background-color:#57c9ca !important; 
    border-color:#57c9ca !important;
    height:35px !important;
    font-weight:bold;
    font-size:12px;
}

.btn.btn-primary:active{
    background-color:#57c9ca !important;
    border-color:#57c9ca !important;
    font-weight:bold;
    font-size:12px;
}

.btn-primary:hover{
    background-color:#5de9ea !important;
    border-color:#5de9ea !important;
}

.btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:active{
    background-color:gray !important;
    border-color: gray !important;
}

.btn-table-controls{
    width:30px;
    height:30px;
    background-color:transparent;
    border:none;
}

.btn-table-controls:hover{
    cursor:pointer;
    background-color:#f59394;
    border-radius:24px;
    border:none;
}

.img-icon{
    width:12px;
    height:12px;
}

/*Radio stack*/
.radio-merged-stack{
    width:20px;
    float:left;
    margin-right:10px;
}

.radio-merged{
    display:none;
}

.radio-merged + label{
    width:15px;
    height:15px;
    text-align:center;
    line-height:16px;
    font-size:8pt;
}

.radio-merged:checked + label{
    border-radius:10px;
    background-color:#57c9ca;
    color:#fff;
    font-weight:bold;
}

/*Table with radio stack*/
.stack-filtered-table{
    width:96%;
    float:left;
}

.stack-filtered-table-sm{
    width:100%;
    float:left;
}

/*Table column*/
.checkbox-alt-column{
    width:45px;
    padding:0px !important;
}

/*Index header*/
.index-header{
    line-height:80px;
}

.long-header{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:300px;
    float:left;
}

/*Checkboxes*/
.checkbox-alt-container{
    padding-left:12px !important;
}

div.checkbox-alt-container > div.checkbox-alt-compact{
    top:2px !important;
}

.checkbox-label{
    color: #858585 !important;
}

.checkbox-alt input[type="checkbox"], .checkbox-alt-compact input[type="checkbox"]{
    display:none;
}

.checkbox-alt {
    position: relative;
    text-align:center;
    width:45px;
    height:45px;
}

.checkbox-alt label {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #eee;
    border:1px solid #ddd;
    border-radius:2px;
    margin-top:15px;
    margin-bottom:15px;
}

.checkbox-alt label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    top:20px;
    left:18px;
    transform: rotate(-45deg);
}

.checkbox-alt-compact {
    position: relative;
    text-align:center;
    width:15px;
    height:15px;
}

.checkbox-alt-compact label {
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #eee;
    border:1px solid #ddd;
    border-radius:2px;
    margin-top:0px;
    margin-bottom:0px;
}

.checkbox-alt-compact label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    top:5px;
    left:3px;
    transform: rotate(-45deg);
}


.checkbox-alt input[type=checkbox]:checked + label:after, .checkbox-alt-compact input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/*Text box*/
.search-box{
    border:1px solid #9e89aa;
    line-height:35px;
    border-radius:2px;
}

.search-box .search-input{
    display:inline-block;
    width:70%;
    border:none;
    font-weight:normal;
    margin-left:5px;
}

.search-box .search-input:focus, .search-box .search-input:active{
    background-color:white !important;
}

.search-box .btn{
    display:inline-block;
    background-color:transparent;
    float:right;
    border:none;
}

/*Fonts*/
.font-size-20{
    font-size:20px;
}

.font-size-10{
    font-size:10px;
}

/*Header - User controls*/
.user-menu{
    line-height:60px;
}

.user-menu span{
    border-right:1px solid #c8c8c8;
    padding-right:14px;
}

.user-control-button{
    margin-left:12px;
    padding-right:0px;
    width:32px;
    height:32px;
    border-radius:2px;
}

.user-control-button.thin{
    width:25px;
}

.user-controls{
    line-height:52px;
}

.top-nav-button{
    margin-top:15px;
    margin-left:10px;
    width:32px;
    height:32px;
    border-radius:2px;
}

.top-nav-button.recentlyViewed {
    background-color: #574b93 !important;
}

.top-nav-button.launch {
    background-color: #3aaebb !important;
}

.top-nav-button-icon{
    position:absolute;
    left:10px;
    top:9px;
}

/*Padding and Margin*/
.no-padding-top{
    padding-top:0px !important;
}

.no-margin-sides{
    margin-left:0;
    margin-right:0;
}

.no-padding-sides{
    padding-left:0 !important;
    padding-right:0 !important;
}

.mg-top-15{
    margin-top:15px;
}

.mg-top-10{
    margin-top:10px;
}

.mg-left-5{
    margin-left:5px;
}

.mg-right-5{
    margin-right:5px;
}

.mg-left-30{
    margin-left:30px;
}

.mg-right-3{
    margin-right:3px;
}

/*Overrides*/
.lyt-2 #sidebar > div nav > ul > li .item-inner{
    padding-left:0px;
}

.navbar .navbar-left > li::before, .navbar .navbar-right > li::before{
    content: none;
    background: none;
    width:0px;
}

.navbar .navbar-left > li, .navbar .navbar-right > li{
    padding: 0px;
}

.navbar .navbar-left > li.sidebar-toggler-wrapper{
    padding: 0px 0px 0px 20px;
}

.navbar .navbar-left > li > .main-search .form-control{
    border: 1px solid #d9d9d9 !important; 
    height:35px;
    width:200px;
    margin-top:13px;
}

.navbar .navbar-left > li > .main-search .search-button{
    line-height:33px;
}

.lyt-2 #sidebar > div nav > ul > li.active .item-media{
    padding-left:15px;
}

.table-striped > tbody > tr:nth-child(2n+1){
    background-color: #f5f3f8;
}

.table-striped > tbody > tr:nth-child(2n+1) > td:first-child {
    border-left: 1px solid #dedede;
}

.table-striped > tbody > tr:nth-child(2n+1) > td:last-child{
    border-right: 1px solid #dedede;
}

/*Misc*/
.notification-icon{
    width:16px;
    height:16px;
    border-radius:16px;
    display:inline-block;
    font-size:11px;
    font-weight:bold;
    vertical-align:top;
    text-align:center;
    padding-top:2px;
    color:#fff;
    background-color: #645b97;
}

.notif-icon-important{
    background-color:#f59394 !important;
}

.border-light{
    border: 1px solid #dedede !important;
    border-radius: 3px;
}

tbody > tr.striped-tr:hover{
    background-color:#ffffe7 !important;
}

.table-control-set{
    display:none;
}

tbody > tr.striped-tr:hover > td.control-col > div.table-control-set{
    display:inline-block;
}

.table-info{
    display:inline-block;
    margin-left:35px;
    margin-right:35px;
    font-size:9pt;
}

.table-info > .info{
    padding-left:10px;
    padding-right:10px;
}

.info.br-right{
    border-right:1px solid #9e89aa;
}

.emphasised{
    font-weight:bold;
    font-style:italic;
}

.tooltip-small{
    width:140px;
}

hr.solid-line{
  background-color: #dedede;
  background-image:none; 
  margin:0px;
}

.info-icon{
    background-color:#645b97;
    width:20px !important;
    height:20px !important;
    color:#fff!important;
    border: none !important;
    border-radius:20px;
    padding-left:4px !important;
    padding-right:4px !important;
}

/*Contact list specific*/
li.contact-list-item:not(:first-of-type){
    border-top:1px solid #9e89aa;
}

.contact-container{
    padding-right:24px;
    padding-bottom:2px;
    border-collapse:separate !important;
}
.contact-info-table{
    width:100%;
    border:1px solid #9e89aa !important;
}

div.rounded-table>table{
    border: none !important;
}

div.rounded-table{
    border:1px solid rgba(0, 0, 0, 0.07);
    border-radius:3px;
}

.contact-info-table > tbody > tr > td{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    text-align:center;
}

.contact-info-table > tbody > tr > td.info-title{
    color:#645b97 !important;
    font-weight:bold !important;
    border-right:1px solid rgba(0,0,0,0.07);
    border-bottom:1px solid #dbdbdb;
    background-color:#F0F3F4;
}

.contact-info-table.alt > tbody > tr > td.info-title{
    background-color:#f5f2f9;
}

.contact-info-table > tbody > tr > td{
    color: #645b97 !important;
    border-bottom: 1px solid #dbdbdb;
}

.contact-info-table > tbody > tr > td.info-title.last-row{
    border-bottom:1px solid #9e89aa;
}

.info-title.narrow{
    width:110px !important;
    text-align:right;
    padding-right:15px;
}

.contact-info-table > tbody > tr > td.last-row{
    border-bottom:1px solid #9e89aa;
}

.contact-container .btn{
    width:100%;
    margin-bottom:13px;
}

.contact-detail-view{
    display:none;
}

.mg-top-16{
    margin-top:16px;
}

.mobile-add-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width:56px;
    height:56px;
    border-radius:56px;
    background-color:#57c9ca !important; 
    outline: none;
    border: none;
}

/*Modals*/
@media (min-width: 1400px) {
    .modal.wide-modal > div.modal-dialog {
      width: 70%;
    }
}

@media (min-width: 1200px) {
    .modal.wide-modal > div.modal-dialog {
      width: 85%;
    }
}

@media (max-width: 1199){
    .modal.wide-modal > div.modal-dialog {
        width: 95%;
    }
}

/*Forms*/
.form-control-validation-error{
    border-color:#ff4c4c !important;
}

.form-validation-error{
    color:#ff4c4c;
    font-size:8pt;
}

.form-group.left-align > .control-label{
    text-align:left !important;
    text-transform:uppercase !important;
}

.form-control{
    border-radius:3px !important;
}

.modal-form{
    min-height:590px;
}

textarea.form-control{
    resize:none;
    width:100%;
}

.custom-timepicker > input[type=number]::-webkit-inner-spin-button, 
.custom-timepicker > input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.custom-timepicker > div > input[type=text]{ 
    -moz-appearance:textfield;
    border:none!important;
    background-color:transparent !important;
    width:20px;
    padding-left:2px !important;
    padding-right:2px !important;
}

.custom-timepicker > div{
    width:80px;
    padding-top:3px !important;
    display:inline-block !important;
}

.custom-timepicker > input[type=button].ampm{
    width:34px;
    background:white;
    border: 1px solid #dedede;
    height:35px;
    display:inline-block !important;
    border-radius:3px;
    margin-left:10px;
    text-align:center;
    padding:0px;
    line-height:1.2;
}

/*Panels*/

.panel-mycrm{
    background-color: #faf8fb !important;
}



/*Popovers*/
div.popover.class-popover{
    top:-390px !important; 
}

.popover.class-popover.right > .arrow{
    top:405px;
}

.class-popover{
    min-width:400px !important;
    color: #645b97;
}

.class-popover-header{
    color: #645b97;
}

.class-name{
    background-color: #645b97;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    transform: skewX(-15deg);

    text-transform:uppercase;
    font-weight:bold;
    color:#fff !important;

    padding: 3px 7px;
    margin: 2px;
    display: inline-block;
}

.class-name span{
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    transform: skewX(15deg);  
    display: inline-block;
}

/*Text*/
.text-teal{
    color:#57c9ca !important; 
}

.text-dark-purple{
    color: #645b97 !important;
}

/*Tabs*/
.uib-tab.active.custom-tab > a{
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
    border-width: 1px 1px 0px 1px !important;
    border-radius: 3px 3px 0px 0px !important;

    border-bottom-style: solid !important;
    border-bottom-color: #fff !important;
    border-bottom-width: 1px !important;

    background:linear-gradient(to bottom, #f1e9f580, #fff) !important;

    font-weight:bold;
}

.uib-tab.custom-tab > a {
    text-transform:uppercase;
    color: darkgray;
}

/*Accordions*/
uib-accordion > .panel-group > .custom-accordion > .panel-heading{
    background-color:#fff;
    border-radius:3px;
}

uib-accordion > .panel-group > .custom-accordion > div > .panel-body{
    padding-top:0px;
    border-top:none !important;
}


/*Tables*/
.custom-table{
    width:100%;
    border: none !important;
    color: #645b97 !important;
}

.custom-table td{
    padding:5px 10px;
}

.custom-table td:not(:first-child), .custom-table th:not(:first-child){
    border-left:1px solid rgba(0, 0, 0, 0.07);
}

tr.custom-table-row:not(:last-child), .custom-table th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.custom-table th{
    color: #645b97;
    font-weight:bold;
    padding:5px;
}

td.narrow{
    width:110px !important;
}
    
/*App-specific*/
body{
    font-size:11px;
}

/*Breadcrumbs*/
.crm-breadcrumb { 
  list-style: none; 
  overflow: hidden; 
  padding-left:0px;
  margin:0px;
}

.crm-breadcrumb li { 
  float: left; 
}
.crm-breadcrumb li a {
  text-decoration: none; 
  padding: 5px 0 5px 20px;
  background: #fff;
  color:#797979;
  position: relative; 
  display: block;
  float: left;
}

.crm-breadcrumb li a div.text-container{
  overflow:hidden;
  max-width:150px;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.crm-breadcrumb li:first-child a{
  padding-left:10px !important;
  font-weight:bold;
  color:#57c9ca;
}


.crm-breadcrumb li a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 20px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -20px; 
  left: 100%;
  z-index: 2; 
}

.crm-breadcrumb li a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;       
  border-bottom: 20px solid transparent;
  border-left: 10px solid #F0F3F4;
  position: absolute;
  top: 50%;
  margin-top: -20px; 
  margin-left: 3px;
  left: 100%;
  z-index: 1; 
}