/* ---------------------------------------------------------------------- */
/*  Layout2 - Theme 1
/* ---------------------------------------------------------------------- */
::-moz-selection {
  background: #58748B;
  text-shadow: none;
  color: #ffffff;
}

::selection {
  background: #58748B;
  text-shadow: none;
  color: #ffffff;
}

body {
  background: #F0F3F4;
}

@media (max-width: 991px) {
  .app-content {
    background: #F0F3F4;
  }
}

.navbar .navbar-header {
  background: #1a1438 !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
.navbar .navbar-header .sidebar-toggler, .navbar .navbar-header .sidebar-mobile-toggler {
  color: #ffffff !important;
}
.navbar .navbar-header .navbar-brand {
  color: #ffffff !important;
}
.navbar .navbar-header .menu-toggler {
  color: rgba(255, 255, 255, 0.7) !important;
}
.navbar .navbar-header .menu-toggler:hover {
  color: white !important;
}
.navbar .navbar-header .sidebar-mobile-toggler {
  background-color: #7266BA !important;
  border-color: #7266BA !important;
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler > i {
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler:hover {
  background-color: #9289ca !important;
  border-color: #9289ca !important;
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler:active, .navbar .navbar-header .sidebar-mobile-toggler.active, .navbar .navbar-header .sidebar-mobile-toggler.active:focus, .navbar .navbar-header .sidebar-mobile-toggler:active:focus, .navbar .navbar-header .sidebar-mobile-toggler:active:hover, .navbar .navbar-header .sidebar-mobile-toggler.dropdown-toggle:active:hover {
  background-color: #6254b2 !important;
  border-color: #6254b2 !important;
}
.navbar .navbar-header .sidebar-mobile-toggler:focus {
  background-color: #a39bd2 !important;
  border-color: #a39bd2 !important;
  color: #ffffff !important;
}
.navbar .navbar-header .sidebar-mobile-toggler.disabled:hover, .navbar .navbar-header .sidebar-mobile-toggler.disabled:focus, .navbar .navbar-header .sidebar-mobile-toggler.disabled:active, .navbar .navbar-header .sidebar-mobile-toggler.disabled.active, .navbar .navbar-header .sidebar-mobile-toggler[disabled], .navbar .navbar-header .sidebar-mobile-toggler[disabled]:hover, .navbar .navbar-header .sidebar-mobile-toggler[disabled]:focus, .navbar .navbar-header .sidebar-mobile-toggler[disabled]:active, .navbar .navbar-header .sidebar-mobile-toggler[disabled].active, fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler:hover, fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler:focus, fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler:active, fieldset[disabled] .navbar .navbar-header .sidebar-mobile-toggler.active {
  background-color: #b3acda !important;
  border-color: #b3acda !important;
  color: #ffffff !important;
}
.navbar .navbar-collapse {
  background: #F3F3F4 !important;
  border-bottom-color: #e7eaec !important;
  box-shadow: none !important;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .navbar-left > li:before {
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.2) 50%, rgba(51, 51, 51, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.2) 50%, rgba(51, 51, 51, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.2) 50%, rgba(51, 51, 51, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$collapseText-color, endColorstr=$collapseText-color,GradientType=0 );
    /* IE6-9 */
  }
}
.navbar .navbar-collapse .navbar-left > li .main-search .form-control {
  color: #333 !important;
}
.navbar .navbar-collapse .navbar-left > li .main-search .form-control::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar .navbar-collapse .navbar-left > li .main-search .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar .navbar-collapse .navbar-left > li .main-search .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar .navbar-collapse .navbar-left > li .main-search .form-control:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3) !important;
}
.navbar .navbar-collapse .navbar-left > li .main-search .search-button {
  color: rgba(51, 51, 51, 0.7);
}
.navbar .navbar-collapse .navbar-left > li .main-search .search-button:hover, .navbar .navbar-collapse .navbar-left > li .main-search .search-button:active, .navbar .navbar-collapse .navbar-left > li .main-search .search-button:focus {
  color: #333333;
}
.navbar .navbar-collapse .navbar-left > li > a {
  color: rgba(51, 51, 51, 0.7);
}
.navbar .navbar-collapse .navbar-left > li > a i {
  color: rgba(51, 51, 51, 0.7) !important;
}
.navbar .navbar-collapse .navbar-left > li > a:hover {
  color: #333333;
}
.navbar .navbar-collapse .navbar-left > li > a:hover i {
  color: #333333 !important;
}
@media (max-width: 767px) {
  .navbar .navbar-collapse .navbar-left > li {
    border-bottom: 1px solid black !important;
  }
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn {
  background-color: #7266BA;
  border-color: #7266BA;
  color: #ffffff !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn > i {
  color: #ffffff !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:hover {
  background-color: #9289ca !important;
  border-color: #9289ca;
  color: #ffffff !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:active, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.active, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.active:focus, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:active:focus, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:active:hover, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.dropdown-toggle:active:hover {
  background-color: #6254b2 !important;
  border-color: #6254b2;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:focus {
  background-color: #a39bd2;
  border-color: #a39bd2;
  color: #ffffff !important;
}
.navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.disabled:hover, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.disabled:focus, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.disabled:active, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.disabled.active, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn[disabled], .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn[disabled]:hover, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn[disabled]:focus, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn[disabled]:active, .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn[disabled].active, fieldset[disabled] .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:hover, fieldset[disabled] .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:focus, fieldset[disabled] .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn:active, fieldset[disabled] .navbar .navbar-collapse .navbar-left > li.sidebar-toggler-wrapper .btn.active {
  background-color: #b3acda;
  border-color: #b3acda;
  color: #ffffff !important;
}
@media (min-width: 768px) {
  .navbar .navbar-collapse .navbar-right > li:before {
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.2) 50%, rgba(51, 51, 51, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.2) 50%, rgba(51, 51, 51, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.2) 50%, rgba(51, 51, 51, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$collapseText-color, endColorstr=$collapseText-color,GradientType=0 );
    /* IE6-9 */
  }
}
.navbar .navbar-collapse .navbar-right > li > a {
  color: rgba(51, 51, 51, 0.7);
}
.navbar .navbar-collapse .navbar-right > li > a i {
  color: rgba(51, 51, 51, 0.7) !important;
}
.navbar .navbar-collapse .navbar-right > li > a:hover {
  color: #333333;
}
.navbar .navbar-collapse .navbar-right > li > a:hover i {
  color: #333333 !important;
}
.navbar .navbar-collapse .navbar-right .angular-notifications-icon {
  background: #7266BA;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    background: #1a1438 !important;
    box-shadow: none;
    border-bottom-color: transparent !important;
  }
  .navbar .navbar-collapse .navbar-right > li > a {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar .navbar-collapse .navbar-right > li > a i {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar .navbar-collapse .navbar-right > li > a:hover {
    color: white;
  }
  .navbar .navbar-collapse .navbar-right > li > a:hover i {
    color: white !important;
  }
  .navbar .navbar-collapse .navbar-right > li.open {
    background: #0e161b !important;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid black !important;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-collapse {
    background: #020304 !important;
  }
  .navbar .navbar-collapse .close-handle {
    background: #020304;
  }
  .navbar .navbar-collapse .close-handle .arrow-left, .navbar .navbar-collapse .close-handle .arrow-right {
    background-color: #ffffff;
  }
  .navbar .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.3);
  }
}
.navbar .dropdown-off-sidebar {
  border-left-color: #e7eaec !important;
  background: #F3F3F4 !important;
  color: rgba(51, 51, 51, 0.7) !important;
}
@media (min-width: 768px) {
  .navbar .dropdown-off-sidebar:hover {
    color: #333333 !important;
  }
}
@media (max-width: 991px) {
  .navbar .dropdown-off-sidebar {
    background: #1a1438 !important;
    border-left-color: transparent !important;
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar .dropdown-off-sidebar:hover {
    color: white !important;
  }
}

#sidebar {
  background: #1a1438;
}
@media (min-width: 992px) {
  #sidebar:before {
    background-color: #1a1438 !important;
    z-index: 0;
  }
}
@media (min-width: 992px) {
  #sidebar:after {
    background-color: #1a1438;
  }
}
#sidebar .nav-user-wrapper {
  background: none !important;
}
#sidebar .nav-user-wrapper .media-body .media-heading {
  color: #ffffff !important;
}
#sidebar .nav-user-wrapper .media-body .text-small {
  color: #a7b1c2 !important;
}
#sidebar .nav-user-wrapper .dropdown-toggle {
  color: #a7b1c2 !important;
}
#sidebar .nav-user-wrapper .dropdown-toggle:hover {
  color: #ffffff !important;
}
#sidebar .sidebar-container {
  background: #1a1438 !important;
}
#sidebar > div nav .navbar-title {
  color: #a7b1c2;
}
@media (min-width: 992px) {
  #sidebar > div nav:before {
    background: #1a1438;
  }
  #sidebar > div nav:after {
    background: #1a1438;
  }
}
#sidebar > div nav > ul > li a {
  color: #a7b1c2;
}
#sidebar > div nav > ul > li a .icon-arrow {
  color: #a7b1c2;
}
#sidebar > div nav > ul > li.open, #sidebar > div nav > ul > li:hover {
  background: #261f49 !important;
}
#sidebar > div nav > ul > li.open > a, #sidebar > div nav > ul > li:hover > a {
  color: #ffffff !important;
}
#sidebar > div nav > ul > li.open > a .icon-arrow, #sidebar > div nav > ul > li:hover > a .icon-arrow {
  color: #ffffff;
}
#sidebar > div nav > ul > li .letter-icon-wrapper {
  background: #1a1438 !important;
}
#sidebar > div nav > ul > li.active {
  background: #261f49 !important;
  border-color: #261f49 !important;
}
#sidebar > div nav > ul > li.active.open, #sidebar > div nav > ul > li.active:hover {
  background: #261f49 !important;
}
#sidebar > div nav > ul > li.active .letter-icon-wrapper {
  background: #7266BA !important;
}
#sidebar > div nav > ul > li.active > a {
  color: #ffffff !important;
}
#sidebar > div nav > ul > li.active > a .icon-arrow, #sidebar > div nav > ul > li.active > a i {
  color: #ffffff;
}
#sidebar > div nav .folders .letter-icon-wrapper {
  background: #7266BA !important;
}

.no-touch ul.sub-menu li:hover {
  background: none !important;
}
.no-touch ul.sub-menu li:hover > a, .no-touch ul.sub-menu li:hover > a i {
  color: #ffffff !important;
}
ul.sub-menu li.open {
  background: none !important;
}
ul.sub-menu li.open > a, ul.sub-menu li.open > a i {
  color: #ffffff !important;
}
ul.sub-menu li.active, ul.sub-menu li.active:hover {
  background: #101b23 !important;
}

.app-sidebar-closed #sidebar > div nav > ul > li.open {
  background: none !important;
}
.app-sidebar-closed #sidebar > div nav > ul > li:hover, .app-sidebar-closed #sidebar > div nav > ul > li.hover {
  background: #261f49 !important;
}
.app-sidebar-closed #sidebar > div nav > ul > li:hover > a, .app-sidebar-closed #sidebar > div nav > ul > li.hover > a {
  color: #ffffff !important;
}
.app-sidebar-closed #sidebar > div nav > ul > li.active, .app-sidebar-closed #sidebar > div nav > ul > li.active.open {
  background: #261f49 !important;
}
@media (min-width: 992px) {
  .app-sidebar-closed .app-aside > .item-inner {
    background-color: #1a1438    !important;
  }
  .app-sidebar-closed .app-aside > .item-inner > .title {
    color: #ffffff !important;
  }
  .app-sidebar-closed .app-aside > .item-inner:before {
    border-color: #261f49;
  }
  .app-sidebar-closed .app-aside > .item-inner.active {
    background-color: #7266BA !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:before {
    border-color: #261f49;
  }
  .app-sidebar-closed .app-aside ul.sub-menu {
    background: #1f3342 !important;
    border: #1f3342 !important;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li a {
    color: #a7b1c2;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li a .icon-arrow {
    color: #a7b1c2;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li:hover > a, .app-sidebar-closed .app-aside ul.sub-menu > li.active > a, .app-sidebar-closed .app-aside ul.sub-menu > li.active.open > a {
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li:hover > a .icon-arrow, .app-sidebar-closed .app-aside ul.sub-menu > li.active > a .icon-arrow, .app-sidebar-closed .app-aside ul.sub-menu > li.active.open > a .icon-arrow {
    color: #ffffff;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li > a {
    color: #a7b1c2;
  }
  .app-sidebar-closed .app-aside ul.sub-menu > li > a .icon-arrow {
    color: #a7b1c2;
  }
}

.main-content {
  background: #F0F3F4 !important;
}

#app > footer {
  background-color: #F0F3F4 !important;
}

#loading-bar .bar {
  background: #7266BA !important;
}
