﻿<div class="panel panel-mycrm border-light modal-form">
    <div class="panel-body padding-25">
        <h4>Additional Information</h4>
        <hr class="solid-line" />
        <div class="form-group left-align margin-top-15">
            <label class="control-label col-md-5 col-lg-5">Home Phone</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.contactNumbers.Home" />
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Business Phone</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.contactNumbers.Business" />
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Mobile Phone</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.contactNumbers.Mobile" />
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Best time to call</label>
            <div class="col-md-6 col-lg-6 padding-left-15">
                <div class="custom-timepicker">
                    <div class="inline-block form-control"
                         ng-class="{'form-control-validation-error' : 
                                 (contactCreateForm.hr.$touched || contactCreateForm.min.$touched || contactCreateForm.$submitted) &&
                                 (contactCreateForm.hr.$error.pattern || contactCreateForm.min.$error.pattern)}">
                        <input type="text" 
                               ng-pattern="/^(0*[1-9]|1[0-2])$/" 
                               class="inline-block" 
                               ng-model="vm.timeToCall.Hour"
                               name="hr"
                               id="hr" />
                        <span>:</span>
                        <input type="text" 
                               ng-pattern="/^(0*[0-9]|[0-5][0-9])$/" 
                               class="inline-block" 
                               ng-model="vm.timeToCall.Min"
                               name="min"
                               id="min" />
                    </div>
                    <input type="button" class="ampm" value="{{vm.timeToCall.AMPM}}" ng-click="vm.toggleTime()" />
                </div>
                <div ng-if="contactCreateForm.hr.$touched || contactCreateForm.min.$touched || contactCreateForm.$submitted">
                    <div class="form-validation-error" ng-if="contactCreateForm.hr.$error.pattern || contactCreateForm.min.$error.pattern">Please input a valid time (12H).</div>
                </div>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Email Address</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.emailAddress" />
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Smoker</label>
            <div class="col-md-7 col-lg-7">
                <div class="btn-group">
                    <label class="btn btn-group-btn-2" ng-model="vm.isSmoker" uib-btn-radio="'Yes'">
                        Yes
                    </label>
                    <label class="btn btn-group-btn-2" ng-model="vm.isSmoker" uib-btn-radio="'No'">
                        No
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Occupation</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.contactModel.Employment.Occupation" />
            </div>
            <div class="col-md-7 col-lg-7 col-md-offset-5 col-lg-offset-5 margin-top-15">
                <div class="row">
                    <div class="col-md-2 col-lg-2 form-control-static">
                        OR
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <span class="clip-select">
                            <select class="form-control" ng-model="vm.contactModel.Employment.OccupationClass"
                                    ng-options="class.name for class in vm.classes track by class.id" />
                        </span>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="row form-control-static">
                            <a class="info-icon" 
                               popover-class="class-popover"
                               popover-trigger="mouseover" 
                               popover-placement="right-bottom"
                               uib-popover-template="'app/pages/contacts/_classPopover.html'">
                                <i class="fa fa-question"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Employer / Company</label>
            <div class="col-md-7 col-lg-7">
                    <input type="text" class="form-control" ng-model="vm.contactModel.Employment.Employer" />
            </div>
        </div>
    </div>
</div>
