﻿<div class="padding-10">
    <h5 class="text-uppercase text-bold class-popover-header">Class Selection Guide</h5>
    <hr class="solid-line" />
    <p class="text-justify margin-top-15">
        Here is a rough guide for selecting an Occupation Class. Note that, because of
        variations between insurers, sometimes the only way to know for sure is to call an underwriter.
    </p>
    <ul class="list-unstyled">
        <li>
            <p class="inline-block">
                <div class="class-name">
                    <span>Class 1</span>
                </div>
                Professionals (usually tertiary qualified) typically earning <span class="text-bold">over $80,000</span> annually
            </p>
        </li>
        <li>
            <p class="inline-block">
                <div class="class-name">
                    <span>Class 2</span>
                </div>
                Skilled trades people (for example a qualified builder) or non-desk based workers (for example technician, shopkeeper, etc)
            </p>
        </li>
        <li>
            <p class="inline-block">
                <div class="class-name">
                    <span>Class 3</span>
                </div>
                Professionals (usually tertiary qualified) typically earning <span class="text-bold">over $80,000</span> annually
            </p>
        </li>
        <li>
            <p class="inline-block">
                <div class="class-name">
                    <span>Class 4</span>
                </div>
                Housewife / Househusband / Student
            </p>
        </li>
        <li>
            <p class="inline-block">
                <div class="class-name">
                    <span>Class 5</span>
                </div>
                Housewife / Househusband / Student
            </p>
        </li>
    </ul>
</div>