﻿<div class="panel panel-mycrm border-light modal-form">
    <div class="panel-body padding-25">
        <h4>Client Notes</h4>
        <hr class="solid-line" />
        <div class="margin-top-15">
            <textarea type="text" class="form-control" rows="26" ng-model="vm.contactModel.Notes" />
        </div>
    </div>
</div>
