﻿<div class="mg-left-30">
    <div class="col-xs-12 col-sm-12 no-margin-sides no-padding-sides">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="stack-filtered-table-sm visible-xs visible-sm">
                    <h5 class="text-bold">{{vm.letterFilter}}</h5>
                    <hr class="solid-line" />
                    <ul class="list-unstyled">
                        <li ng-repeat="row in vm.listDisplayed track by row.FamilyID" class="contact-list-item" href="#">
                            <div class="contact-container">
                                <div class="checkbox-alt-compact no-margin-sides inline-block mg-top-16">
                                    <input type="checkbox" id="chk_mobile_{{row.FamilyID}}" name="" ng-model="row.ShowDetails" />
                                    <label for="chk_mobile_{{row.FamilyID}}"></label>
                                </div>
                                <div class="inline-block margin-left-10">
                                    <h4>{{row.FamilyFullName}}</h4>
                                </div>
                                <div class="inline-block pull-right" ng-show="row.ShowDetails">
                                    <div class="mg-top-16">
                                        <i class="crm-icon crm-icon-edit dark margin-right-10"></i>
                                        <i class="crm-icon crm-icon-delete dark"></i>
                                    </div>
                                </div>
                                <div class="margin-top-20" ng-show="row.ShowDetails">
                                    <table class="contact-info-table">
                                        <tbody>
                                            <tr>
                                                <td class="info-title">
                                                    <span>Contact #:</span>
                                                </td>
                                                <td>
                                                    <span>{{row.ContactNumber}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-title">
                                                    <span>City:</span>
                                                </td>
                                                <td>
                                                    <span>{{row.City}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-title">
                                                    <span>Adviser:</span>
                                                </td>
                                                <td>
                                                    <span>{{row.Adviser}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="info-title last-row">
                                                    <span>Client Type: </span>
                                                </td>
                                                <td class="last-row">
                                                    <span>{{row.ClientType}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="margin-top-15" ng-show="row.ShowDetails">
                                    <input type="button" class="btn btn-primary" value="View Full Contact Info" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
