﻿<uib-accordion>
    <div uib-accordion-group class="panel-white custom-accordion" is-open="status.open">
        <uib-accordion-heading>
            <div>
                <i class="crm-icon crm-icon-notes"></i><span class="text-bold text-uppercase text-dark-purple margin-left-10">Notes</span>
                <div class="notification-icon">1</div>
                <i class="pull-right fa text-dark-purple" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.down}"></i>
            </div>
        </uib-accordion-heading>
        <hr class="solid-line margin-bottom-15" />
        <div>
            <div class="margin-bottom-5">
                <h5 class="text-uppercase text-bold margin-bottom-5">Note heading</h5>
                This is a note.
            </div>
        </div>
        <hr class="solid-line margin-bottom-15 margin-top-15" />
        <button type="button" class="btn btn-primary"><i class="crm-icon-small crm-icon-add-sm margin-right-5"></i>Create Note</button>
    </div>
</uib-accordion>