﻿<div class="row contactSummary">
    <div class="col-md-6  col-lg-6">
        <div class="row padding-right-40">
            <div class="panel panel-white">
                <div class="panel-body padding-20">
                    <div>
                        <div class="inline-block">
                            <h4 class="text-dark-purple">Clients</h4>
                        </div>
                        <div class="inline-block pull-right">
                            <a class="text-bold text-teal text-uppercase">View Details <i class="crm-icon-small crm-icon-dbl-arrow-link margin-left-5"></i></a>
                        </div>
                    </div>
                    <div ng-include="'app/pages/contacts/_contactInfoTable.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="panel panel-white">
                <div class="panel-body padding-20">
                    <div>
                        <div class="inline-block">
                            <h4 class="text-dark-purple">Records </h4>
                        </div>
                        <div class="inline-block pull-right">
                            <a class="text-bold text-teal text-uppercase">View Details <i class="crm-icon-small crm-icon-dbl-arrow-link margin-left-5"></i></a>
                        </div>
                    </div>
                    <div ng-include="'app/pages/contacts/_contactRecordsTable.html'"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-white">
                <div class="panel-body padding-20">
                    <div>
                        <div class="inline-block">
                            <h4 class="text-dark-purple">Loans </h4>
                        </div>
                        <div class="inline-block pull-right">
                            <a class="text-bold text-teal text-uppercase">View Details <i class="crm-icon-small crm-icon-dbl-arrow-link margin-left-5"></i></a>
                        </div>
                    </div>
                    <hr class="solid-line" />
                </div>
            </div>
        </div>
    </div>

</div>