﻿<uib-accordion>
    <div uib-accordion-group class="panel-white custom-accordion" is-open="status.open">
        <uib-accordion-heading>
            <div>
                <i class="crm-icon crm-icon-tags-alt"></i><span class="text-bold text-uppercase text-dark-purple margin-left-10">Tagged to {{vm.adultMembers[0].FirstName}}</span>
                <i class="pull-right fa text-dark-purple" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.down}"></i>
            </div>
        </uib-accordion-heading>
        <hr class="solid-line margin-bottom-15" />
        <div class="row padding-left-15 padding-right-15">
            <div ng-repeat="tag in vm.tags" class="inline-block margin-right-5 margin-bottom-5">
                <button type="button" class="btn btn-tag">{{tag.ActivityOwner}}</button>
            </div>
            <button type="button" class="btn btn-primary"><i class="crm-icon crm-icon-add-sm margin-right-10"></i>Create Tag</button>
        </div>
    </div>
</uib-accordion>