﻿<div class="rounded-table">
    <table class="contact-info-table alt">
        <tbody>
            <tr>
                <td class="info-title narrow text-uppercase">Adults</td>
                <td>
                    <ul class="list-unstyled margin-bottom-0">
                        <li ng-repeat="adult in vm.adultMembers" class="text-left">
                            <span>{{adult.FullName}}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="info-title narrow text-uppercase">Children</td>
                <td>
                    <ul class="list-unstyled margin-bottom-0" ng-if="vm.childMembers.length > 0">
                        <li ng-repeat="child in vm.childMembers" class="text-left">
                            <span>{{child.FullName}}</span>
                        </li>
                    </ul>
                    <div class="text-left" ng-if="vm.childMembers.length <= 0">
                        <span class="text-light">No child members listed.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="info-title narrow text-uppercase">Phone</td>
                <td>
                    <ul class="list-unstyled margin-bottom-0 text-left">
                        <li ng-repeat="homeNum in vm.homeNums">
                            <span>{{homeNum.Number}}</span>
                        </li>
                    </ul>
                    <ul class="list-unstyled margin-bottom-0 text-left">
                        <li ng-repeat="workNum in vm.workNums">
                            <span>{{workNum.Number}} ({{workNum.Owner}})</span>
                        </li>
                    </ul>
                    <ul class="list-unstyled margin-bottom-0 text-left">
                        <li ng-repeat="mobileNum in vm.mobileNums">
                            <span>{{mobileNum.Number}} ({{mobileNum.Owner}})</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="info-title narrow text-uppercase">Email</td>
                <td>
                    <ul class="list-unstyled margin-bottom-0 text-left">
                        <li ng-repeat="workEmail in vm.workEmails">
                            <a class="text-bold text-teal" href="mailto:{{workEmail.Email}}">{{workEmail.Email}}</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled margin-bottom-0 text-left">
                        <li ng-repeat="email in vm.personalEmails">
                            <a class="text-bold text-teal" href="mailto:{{email.Email}}">{{email.Email}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="info-title narrow text-uppercase">Address</td>
                <td>
                    <ul class="list-unstyled margin-bottom-0 text-left">
                        <li>DummyData A</li>
                        <li>DummyData B</li>
                        <li>DummyData C</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>