﻿<div class="stack-filtered-table visible-md visible-lg">
    <div class="table-responsive">
        <table ng-table="vm.tableParams" class="table table-striped" show-filter="false">
            <thead>
                <tr>
                    <th class="checkbox-alt-column" width="45px">
                        <div class="checkbox-alt">
                            <input type="checkbox" ng-model="row.IsChecked" id="chk_{{row.FamilyID}}" name="" ng-change="vm.toggleCheckedContacts(row.FamilyID, row.IsChecked)" />
                            <label for="chk_{{row.FamilyID}}"></label>
                        </div>
                    </th>
                    <th>Family Name</th>
                    <th>City</th>
                    <th>Contact #</th>
                    <th>Adviser</th>
                    <th>Client Type</th>
                    <th class="no-padding-sides">
                        <form role="search">
                            <div class="search-box">
                                <input placeholder="Search Contacts" class="search-input" type="text">
                                <button class="btn search-button" type="button" ng-click="vm.filterContacts(true)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody ng-if="vm.displayed.length > 0">
                <tr ng-repeat="row in vm.displayed track by row.FamilyID" class="tr-with-controls striped-tr" ui-sref="app.contactView({id: {{row.FamilyID}}})">
                    <td class="checkbox-alt-column" width="45px">
                        <div class="checkbox-alt">
                            <input type="checkbox" ng-model="row.IsChecked" id="chk_{{row.FamilyID}}" name="" ng-change="vm.toggleCheckedContacts(row.FamilyID, row.IsChecked)" />
                            <label for="chk_{{row.FamilyID}}"></label>
                        </div>
                    </td>
                    <td data-title="'Family Name'" sortable="'FamilyFullName'" width="30%">
                        {{row.FamilyFullName}}
                    </td>
                    <td data-title="'City'" sortable="'City'" width="12%">
                        {{row.City}}
                    </td>
                    <td data-title="'Contact #'" sortable="'ContactNumber'" width="12%">
                        {{row.ContactNumber}}
                    </td>
                    <td data-title="'Adviser'" sortable="'Adviser'" width="12%">
                        {{row.Adviser}}
                    </td>
                    <td data-title="'Client Type'" sortable="'ClientType'" width="12%">
                        {{row.ClientType}}
                    </td>
                    <td class="text-center control-col" width="20%">
                        <div class="table-control-set">
                            <button href="javascript:void(0)" class="btn-table-controls" v-pressable>
                                <i class="crm-icon crm-icon-edit dark"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn-table-controls" v-pressable>
                                <i class="crm-icon crm-icon-delete dark"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="vm.displayed.length <= 0" class="text-center">
                <tr>
                    <td colspan="7">No results.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>