﻿<div class="rounded-table">
    <table class="custom-table">
        <thead>
            <tr>
                <th class="text-center">
                    <i class="crm-icon-small crm-icon-calendar margin-right-5"></i> Date
                </th>
                <th class="text-center">
                    <i class="crm-icon-small crm-icon-transactions margin-right-5"></i> Transaction
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tag in vm.tags track by tag.ActivityID" class="custom-table-row">
                <td class="text-center narrow">
                    <span>{{tag.ActivityDate | date : 'dd MMM yyyy'}}</span>
                </td>
                <td class="text-center">
                    <span>{{tag.ActivityDetails}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>