﻿<div class="panel panel-mycrm border-light modal-form">
    <div class="panel-body padding-25">
        <h4>Personal Information</h4>
        <hr class="solid-line" />
        <div class="form-group left-align margin-top-15">
            <label class="control-label col-md-5 col-lg-5">Title</label>
            <div class="col-md-7 col-lg-7">
                <span class="clip-select">
                    <select class="form-control" ng-model="vm.contactModel.Title" ng-options="title for title in vm.titles"></select>
                </span>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">First Name</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" 
                       class="form-control" 
                       required 
                       name="firstName"
                       id="firstName"
                       ng-model="vm.contactModel.FirstName"
                       ng-class="{'form-control-validation-error' : 
                                 (contactCreateForm.firstName.$touched || contactCreateForm.$submitted) &&
                                 contactCreateForm.firstName.$error.required}"
                       />
                <div ng-if="contactCreateForm.firstName.$touched || contactCreateForm.$submitted">
                    <div class="form-validation-error" ng-if="contactCreateForm.firstName.$error.required">This field is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Middle Name</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.contactModel.NiddleName" />
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Last Name</label>
            <div class="col-md-7 col-lg-7">
                <input 
                       type="text" 
                       class="form-control" 
                       required 
                       ng-model="vm.contactModel.LastName" 
                       name="lastName"
                       id="lastName"
                       ng-class="{'form-control-validation-error' : 
                                 (contactCreateForm.lastName.$touched || contactCreateForm.$submitted) &&
                                 contactCreateForm.lastName.$error.required}"
                       />
                <div ng-if="contactCreateForm.lastName.$touched || contactCreateForm.$submitted">
                    <div class="form-validation-error" ng-if="contactCreateForm.lastName.$error.required">This field is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Preferred Name</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" class="form-control" ng-model="vm.contactModel.PreferredName" />
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Role</label>
            <div class="col-md-7 col-lg-7">
                <span class="clip-select">
                    <select 
                            class="form-control" 
                            required 
                            name="role"
                            id="role"
                            ng-model="vm.contactModel.Role" 
                            ng-options="role for role in vm.roles"
                            ng-class="{'form-control-validation-error' : 
                                 (contactCreateForm.role.$touched || contactCreateForm.$submitted) &&
                                 contactCreateForm.role.$error.required}"
                            >
                    </select>
                </span>
                <div ng-if="contactCreateForm.role.$touched || contactCreateForm.$submitted">
                    <div class="form-validation-error" ng-if="contactCreateForm.role.$error.required">This field is required.</div>
                </div>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Birthday</label>
            <div class="col-md-7 col-lg-7">
                <input type="text" 
                       class="form-control" 
                       name="dob"
                       id="dob"
                       placeholder="mm/dd/yyyy" 
                       ng-model="vm.contactModel.DateOfBirth" 
                       ng-class="{'form-control-validation-error' : 
                                 (contactCreateForm.dob.$touched || contactCreateForm.$submitted) &&
                                 contactCreateForm.dob.$error.pattern}"
                       ng-pattern="/^(0*[1-9]|1[0-2])\/(0*[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/" />
                <div ng-if="contactCreateForm.dob.$touched || contactCreateForm.$submitted">
                    <div class="form-validation-error" ng-if="contactCreateForm.dob.$error.pattern">Please input a valid date (mm/dd/yyyy).</div>
                </div>
            </div>
        </div>
        <div class="form-group left-align">
            <label class="control-label col-md-5 col-lg-5">Gender</label>
            <div class="col-md-7 col-lg-7">
                <div class="btn-group">
                    <label class="btn btn-group-btn-2" ng-model="vm.contactModel.Gender" uib-btn-radio="'Male'">
                        Male
                    </label>
                    <label class="btn btn-group-btn-2" ng-model="vm.contactModel.Gender" uib-btn-radio="'Female'">
                        Female
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-5 col-lg-7 col-lg-offset-5 checkbox-alt-container">
            <div class="checkbox-alt-compact no-margin-sides inline-block">
                <input type="checkbox" id="birthdayReminder" ng-model="vm.contactModel.DOBReminder" />
                <label for="birthdayReminder"></label>
            </div>
            <a class="checkbox-label" ng-click="vm.contactModel.DOBReminder = !vm.contactModel.DOBReminder">No Birthday Reminder</a>
        </div>
        <div class="col-md-7 col-md-offset-5 col-lg-7 col-lg-offset-5 checkbox-alt-container">
            <div class="checkbox-alt-compact no-margin-sides inline-block">
                <input type="checkbox" id="isDeceased" ng-model="vm.contactModel.Deceased" />
                <label for="isDeceased"></label>
            </div>
            <a class="checkbox-label" ng-click="vm.contactModel.Deceased = !vm.contactModel.Deceased">Deceased</a>
        </div>
    </div>

</div>
