﻿<form novalidate class="form-horizontal" name="contactCreateForm" ng-submit="vm.save(contactCreateForm.$valid)">
    <div class="modal-header">
        <div class="inline-block">
            <h3 class="modal-title">Add Contact</h3>
        </div>
        <div class="inline-block pull-right">
            <input type="submit" class="btn btn-primary btn-wide" value="Save Contact and Close">
        </div>
    </div>
    <div class="modal-body">
        <div class="row padding-right-15">
            <div class="col-md-4 col-lg-4 padding-left-15 padding-right-0">
                <div ng-include="'app/pages/contacts/_personalInfo.html'"></div>
            </div>
            <div class="col-md-4 col-lg-4 padding-left-15 padding-right-0">
                <div ng-include="'app/pages/contacts/_additionalInfo.html'"></div>
            </div>
            <div class="col-md-4 col-lg-4 padding-left-15 padding-right-0">
                <div ng-include="'app/pages/contacts/_clientNotes.html'"></div>
            </div>
        </div>
    </div>
</form>