﻿<div>
    <div class="index-header">
        <div class="inline-block">
            <h3 class="inline-block">My Contacts</h3>
        </div>
        <!-- Desktop controls -->
        <div class="visible-lg-inline-block visible-md-inline-block">
            <div class="table-info">
                <span class="info br-right">{{vm.totalResults}} Total Contacts</span>
                <span class="info">
                    Last Updated 
                    <span class="emphasised">Yesterday {{vm.lastUpdate}}</span>
                </span>
            </div>
        </div>
        <div class="pull-right visible-lg-inline-block visible-md-inline-block">
            <button type="button" class="btn btn-primary btn-wide" ng-click="vm.addContact()">
                <i class="crm-icon-small crm-icon-add-sm"></i> <span class="mg-left-5">Add Contact</span>
            </button>
            <button type="button" 
                    class="btn btn-primary btn-wide" 
                    ng-disabled="vm.checkedContacts.length < 2" 
                    tooltip-enable="vm.checkedContacts.length < 2"
                    tooltip-trigger="mouseenter" 
                    tooltip-placement="bottom" 
                    uib-tooltip="Select 2 or more contacts to merge"
                    tooltip-class="tooltip-small">
                <i class="crm-icon crm-icon-merge"></i> <span class="mg-left-5">Merge Contacts</span>
            </button>
        </div>
        <!--End of desktop controls-->

        <!--Mobile controls-->
        <div class="pull-right visible-sm-inline-block visible-xs-inline-block">
            <i class="crm-icon-md crm-icon-search"></i>
        </div>
        <!--End of mobile controls-->
    </div>
    
    <!-- Desktop table -->
    <div class="panel panel-white">
        <div class="panel-body visible-md visible-lg">
            <div class="radio-merged-stack">
                <div ng-repeat="opt in vm.letterFilters">
                    <input class="radio-merged" type="radio" ng-model="vm.letterFilter" value="{{opt}}" ng-click="vm.filterContacts(false)" id="radio_{{opt}}" /><label for="radio_{{opt}}">{{opt}}</label>
                </div>
            </div>
            <div ng-include="'app/pages/contacts/_contactsDesktopTable.html'"></div>
        </div>
    </div>
    <!-- End of desktop table -->

    <!-- Mobile table -->
    <div>
        <div class="visible-xs visible-sm">
            <div class="no-margin-sides no-padding-sides">
                <div class="radio-merged-stack inline-block">
                    <div ng-repeat="opt in vm.letterFilters">
                        <input class="radio-merged" type="radio" ng-model="vm.letterFilter" value="{{opt}}" ng-click="vm.filterContacts(false)" id="radio_{{opt}}" /><label for="radio_{{opt}}">{{opt}}</label>
                    </div>
                </div>
            </div>
            <div ng-include="'app/pages/contacts/_contactsMobileTable.html'"></div>
        </div>
    </div>
    <div class="visible-xs visible-sm">
        <button type="button" class="mobile-add-btn">
            <i class="crm-icon crm-icon-add-sm"></i>
        </button>
    </div>
    <!-- End of mobile table -->

</div>

