﻿<div ng-hide="vm.isLoading" class="margin-right-15 margin-left-15">
    <ul class="crm-breadcrumb margin-top-25">
        <li><a ui-sref="app.contacts"><i class="crm-icon-small crm-icon-contacts-alt margin-right-5"></i>Contacts</a></li>
        <li><a href="#"><div class="text-container">{{vm.nameHeader}}</div></a></li>
    </ul>


    <div class="inline-block margin-top-30">
        <h3 class="inline-block long-header" uib-tooltip="{{vm.nameHeader}}" tooltip-placement="bottom">{{vm.nameHeader}}</h3>
        <div class="inline-block margin-left-10 header-controls">
            <button class="btn btn-primary btn-compact inline-block header-button-purple"><i class="crm-icon crm-icon-email mg-right-3"></i>Send Email</button>
            <button class="btn btn-primary btn-compact inline-block header-button-blue"><i class="crm-icon crm-icon-mail mg-right-3"></i>Send Mail</button>
            <button class="btn btn-primary btn-compact inline-block header-button-teal"><i class="crm-icon crm-icon-print mg-right-3"></i>Print Summary</button>
        </div>
        <div class="inline-block margin-left-10">
            <span class="info">
                Last Updated
                <span class="emphasised">Yesterday {{vm.lastUpdate}}</span>
            </span>
        </div>
    </div>
    <div class="row margin-top-5">
        <div class="col-md-9 col-lg-9">
            <div class="panel panel-white">
                <div class="panel-body">
                    <uib-tabset>
                        <uib-tab index="0" active="active" heading="Summary" classes="custom-tab">
                            <div ng-include="'app/pages/contacts/_contactSummary.html'"></div>
                        </uib-tab>
                        <uib-tab index="1" heading="Clients" classes="custom-tab">CONTENT</uib-tab>
                        <uib-tab index="2" heading="Loans" classes="custom-tab">CONTENT</uib-tab>
                        <uib-tab index="3" heading="Insurance" classes="custom-tab">CONTENT</uib-tab>
                        <uib-tab index="4" heading="Financials" classes="custom-tab">CONTENT</uib-tab>
                        <uib-tab index="5" heading="Workflow" classes="custom-tab">CONTENT</uib-tab>
                        <uib-tab index="6" heading="Records" classes="custom-tab">CONTENT</uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="row padding-right-10">
                <div ng-include="'app/pages/contacts/_contactsTagAccordion.html'"></div>
            </div>
            <div class="row padding-right-10">
                <div ng-include="'app/pages/contacts/_contactsNotesAccordion.html'"></div>
            </div>
            <div class="row padding-right-10">
                <div ng-include="'app/pages/contacts/_contactsTasksAccordion.html'"></div>
            </div>
        </div>
    </div>
</div>
