<!-- start: MAIN NAVIGATION MENU -->
<hr />
<div class="navbar-title">
    <span>Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.contacts">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Contacts </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Loan Tools </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Insurance Tools </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Workflow </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Communicate </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Report </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Commission </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Resources </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Referral </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: FEATURES -->
<hr />
<div class="navbar-title">
    <span >Users</span>
</div>
<ul class="folders">
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Feedback </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a>
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Users </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: FEATURES -->