<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->
<!-- sidebar -->
<div class="sidebar app-aside hidden-print" id="sidebar" toggleable parent-active-class="app-slide-off">
    <div perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true" class="sidebar-container">
        <div data-ng-include="'app/pages/partials/sidebar.html'"></div>
    </div>
</div>
<!-- / sidebar -->
<div class="app-content" ng-class="{loading: loading}" ng-swipe-left="toggle('sidebar', 'off')" ng-swipe-right="toggle('off-sidebar', 'off')">
    <!-- top navbar -->
    <ng-include src="'/app/pages/partials/top-navbar.html'"></ng-include>
    <!-- / top navbar -->
    <!-- main content -->
    <div data-ng-include="'/app/pages/partials/main-content.html'" class="main-content"></div> <!--TODO-->
    <!-- / main content -->
</div>